<h1>Friends Index</h1>

<h2>Total friends: {{model.length}}</h2>

{{!-- <ul>
  {{#each model as |friend|}} --}}
    {{!-- <li>{{friend.firstName}} {{friend.lastName}}</li> --}}
    {{!-- <li>{{friend.id}} - {{friend.firstName}} {{friend.lastName}}</li> --}}
    {{!-- <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li> --}}
{{!--     <li>{{link-to friend.fullName "friends.show" friend}}</li>
  {{/each}}
</ul> --}}

<table class="mt3 fit">
  <thead class="p1 h2">
    <tr class="white bg-blue">
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="p1 h3">
    {{#each model as |friend|}}
      <tr>
        <td class="border-bottom">
          {{link-to friend.fullName "loans" friend}}
        </td>
        <td class="border-bottom">
          <a href="#" {{action "delete" friend}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>