<h1>Friends Index</h1>

<h2>Total friends: {{model.length}}</h2>

<ul>
  {{#each model as |friend|}}
    {{!-- <li>{{friend.firstName}} {{friend.lastName}}</li> --}}
    {{!-- <li>{{friend.id}} - {{friend.firstName}} {{friend.lastName}}</li> --}}
    {{!-- <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li> --}}
    <li>{{link-to friend.fullName "friends.show" friend}}</li>
  {{/each}}
</ul>